.pseudo-elemento button::before{
    content: "Pasa por encima";
}

.pseudo-elemento button:hover{
    background-color: green;
    color: white;
}

.pseudo-elemento button:hover::before{
    content: "¡Hecho!";
}
